@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* 
body {
    margin: 0;
    padding: 0;
} */

/* CARROSSEL*/

.slider {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slides {
    width: 100%;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 100%;
    height: 50%;
    position: relative;
    transition: 1s;
}

.slide:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
    background: rgb(18, 18, 18);
    content: "";

    background: #00000094;
}

.slide img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}


.manual-navigation {
    position: absolute;
    display: flex;
    justify-content: center;

    top: 98%;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .manual-navigation {
        position: absolute;
        display: flex;
        justify-content: center;

        top: 95%;
        width: 100%;
    }
}

.manual-btn {
    border: solid 2px white;
    cursor: pointer;
    border-radius: 20px;
    padding: 0.5%;
    transition: 1s all;
}

.manual-btn:not(:last-child) {
    margin-right: 2%;
}

.manual-btn:hover {
    background-color: white;
}

#radio1:checked~.first {
    margin: 0;
}

#radio2:checked~.first {
    margin-left: -100%;
}

#radio3:checked~.first {
    margin-left: -200%;
}

#radio4:checked~.first {
    margin-left: -300%;

}

.text-overlay {
    position: absolute;
    top: 40%;
    left: 20%;
    /* transform: translate(-50%, -50%); */
    color: white;
    font-size: xx-large;
    z-index: 10;
    font-family: "Inter", sans-serif;
    text-align: center;
    pointer-events: none;
    width: 60%;

}

@media screen and (max-width: 768px) {
    .text-overlay {
        position: absolute;
        top: 45%;
        left: 20%;
        /* transform: translate(-50%, -50%); */
        color: white;
        font-size: medium;
        z-index: 10;
        font-family: "Inter", sans-serif;
        text-align: center;
        pointer-events: none;

    }
}

/* FIM CARROSSEL  */

/* APLICACAO */

.aplicacao {
    display: flex;
    justify-content: space-around;

    width: 100%;
    height: 100vh;
    flex-wrap: nowrap;
}

@media screen and (max-width: 768px) {
    .aplicacao {
        flex-direction: column-reverse;
        /* Muda a direção do flexbox para coluna */
    }
}


.aplicacao .img {
    width: 100%;
    height: 100%;

    background-image: url(../src/img/comptador-aplicacao.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.aplicacao .img:after {
    position: absolute;

    width: 50%;
    height: 100vh;

    content: "";
    background: #00000094;
}

@media screen and (max-width: 768px) {
    .aplicacao .img:after {
        position: absolute;

        width: 0%;
        height: 0vh;

        content: "";
        background: #00000094;
    }
}

.aplicacao .textos {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */
    background-color: #E7ECEF;
}

.textos h1 {
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-size: xx-large;
    color: #001E42;
}

.textos .texto1 {
    width: 60%;
    height: 20%;
    margin-bottom: 40px;

    display: flex;
    justify-content: center;

    background-color: #001E42;

    border-radius: 17px;

    transition: transform 1s;
    transform: translateY(0) scale(1.0);
}

.textos .texto1:hover,
.textos .texto1:focus {
    width: 60%;
    height: 20%;
    margin-bottom: 40px;

    display: flex;
    justify-content: center;

    background-color: #001E42;

    border-radius: 17px;

    transform: translateY(10px) scale(1.1);
}

.textos .texto2 {
    width: 60%;
    height: 20%;
    margin-bottom: 40px;

    display: flex;
    justify-content: center;

    background-color: #001E42;

    border-radius: 17px;
    transition: transform 1s;
    transform: translateY(0) scale(1.0);
}

.textos .texto2:hover,
.textos .texto2:focus {
    width: 60%;
    height: 20%;
    margin-bottom: 40px;

    display: flex;
    justify-content: center;

    background-color: #001E42;

    border-radius: 17px;

    transform: translateY(10px) scale(1.1);
}

.textos .texto3 {
    width: 60%;
    height: 20%;
    margin-bottom: 40px;


    display: flex;
    justify-content: center;

    background-color: #001E42;

    border-radius: 17px;
    transition: transform 1s;
    transform: translateY(0) scale(1.0);
}

.textos .texto3:hover,
.textos .texto3:focus {
    width: 60%;
    height: 20%;
    margin-bottom: 40px;

    display: flex;
    justify-content: center;

    background-color: #001E42;

    border-radius: 17px;

    transform: translateY(10px) scale(1.1);
}

.textos p {
    color: #E7ECEF;
    font-weight: 500;
    font-size: medium;
    text-align: center;
    align-items: center;

    width: 80%;
    align-self: center;
    font-family: "Inter", sans-serif;

}

/* CSS MENU  */


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body,
html {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Inter';
    /* Fonte padrão do sistema */
}

header {
    background-color: #e7ecef;
    padding: 0;
}

nav {
    display: flex;
    /* justify-content: space-evenly; */
    margin: 0;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 100px;
    /* border: #333 2px solid; */
}

.navbar ul {
    width: 35%;
}

.logo {
    display: flex;
    width: 10%;
    /* object-fit: fill; */
    /* Faz com que a logo ocupe o espaço necessário */
}
.logo img{
    width: 50%;
    padding-left: 20px;
    /* height: 100%; */
}

.logo a {
    color: black;
    text-decoration: none;
    font-size: 24px;
}


.nav-links {
    list-style: none;
    /* margin-left: 10%; */
    /* padding: 0; */
    display: flex;
    /* flex: 0; Ocupa o espaço restante ao lado da logo */
    justify-content: space-around;
    /* Centraliza os itens na barra de navegação */
    width: 80%;
    margin-right: 100px;

    /* list-style: none; */
    /* text-transform: uppercase; */
    /* position: absolute; */
}

/* .nav-links li {
    margin:0 5%;
    width: 50%;
} */

.nav-links li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    justify-content: space-around;

    /* display: inline-block; */
    background: #e7ecef;
    /* padding: 10px;
    margin: 2px; */
    transition: background-color 1s;

}

.nav-links li:hover {
    background-color: #6096ba;
}

.nav-links a:hover {
    /* text-decoration: underline; */
    color: #6096ba;

}

.toggle-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    border: none;
    background: transparent;
}

.toggle-menu .bar {
    width: 35px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
    transition: 0.3s;

}

.cadastroEntrar {
    display: flex;
    align-items: normal;
    /* width: 35%; */
    list-style: none;
    justify-content: flex-end;
    gap: 10%;
    /* Reduzido de 1% para 0.5em */
    font-style: normal;
    font-family: 'Inter';
    padding: 0;
    /* Adicionado para remover espaçamento extra */
    margin: 0;
    /* Adicionado para remover margens extra */
}

.cadastroEntrar li {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: black;
    padding: 0;
    /* Adicionado para garantir que não há padding extra */
    margin: 0;
    /* Adicionado para garantir que não há margin extra */
}

.cadastroEntrar li a {
    color: black;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: larger;
}

.cadastroEntrarResposivo {
    display: none;

}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        align-items: center;
        /* Alinha os itens no centro na versão móvel */
    }

    .nav-links.active {
        display: flex;
        background-color: #e7ecef;
        margin-left: 160px;
        border-radius: 5px;
        padding-top: 5px;
        border: #333 2px solid;
        font-size: medium;
        z-index: 100;
    }

    .logo img{
        width: 0%;
    }
    .toggle-menu {
        display: flex;
        /* margin-left: 135px; */
    }

    .cadastroEntrar {
        display: none
    }

    .cadastroEntrarResposivo {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: start;

    }

    .cadastroEntrarResposivo li {
        font-style: normal;
        list-style-type: none;

    }
}

/* BENEFICIOS  */

.beneficios {
    background-color: #001E42;
    /* overflow-x: hidden; */
    justify-content: center;
    align-items: center;
    height: 96.5%;
    border: #E7ECEF 12px solid;
    width: 98,5%;
    font-family: 'Inter';
    /* Fonte padrão do sistema */

}

.article-h1 {
    width: 200px;
    height: 100px;
    border: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 40px;
}

.h1 {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-size: xx-large;
}

.main-article {
    width: 100%;
    /* max-width: 1800px;  */
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    padding-top: 50px;
    gap: 40px;
}

.main-article p {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: x-large;
    text-align: center;
    width: 80%;
}

.card_one {
    width: 400px;
    height: 355px;
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.card_two {
    width: 400px;
    height: 355px;
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.card_tree {
    width: 400px;
    height: 355px;
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

/* resposividade */
@media (max-width: 768px) {

    .main-article {
        flex-direction: column;
        align-items: center;
    }

    .card_one {
        width: 90%;
        height: auto;
        margin: 10px 0;
    }

    .card_two {
        width: 90%;
        height: auto;
        margin: 10px 0;
    }

    .card_tree {
        width: 90%;
        height: auto;
        margin: 10px 0;
    }

    .main-article p {
        font-family: "Inter", sans-serif;
        font-weight: 300;
        font-size: large;
        text-align: center;
        width: 80%;
    }

}

/* responsividade de celular */
@media (min-width: 201px) and (max-width: 1024px) {

    .main-article {
        justify-content: center;
    }

    .card_one {
        width: 45%;
        height: auto;
        margin: 10px;
    }

    .card_two {
        width: 45%;
        height: auto;
        margin: 10px;
    }

    .card_tree {
        width: 45%;
        height: auto;
        margin: 10px;
    }

}

/* SOBRE NOS  */

.container_master {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #001E42 51%, #ffffff 61%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    /* overflow: hidden; */
}

.container_one {
    flex: 1;
    /* padding: 20px; */
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.container_two {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: #ffffff; */
}

.container_one h3 {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: xx-large;
    width: 70%;
}

.container_one p {
    /* margin-bottom: 10px; */
    font-size: 27px;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    color: #fff;
    width: 70%;

}

.logo_principal {
    object-fit: contain;
}

/* Responsivo para telas menores */
/* Responsivo para telas menores */
@media (max-width: 768px) {
    .container_master {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        width: 100%;
        height: 100%;
        /* background: linear-gradient(to right, #001E42 0%, #ffffff 0%); */
        background-color: transparent;

    }

    .container_one {
        width: 100%;
        height: 50%;
        background-color: #001E42;
        display: flex;
        justify-content: center;
    }

    .container_one h3 {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: xx-large;
        /* width: 70%; */
        
    }
    
    .container_one p {
        /* margin-bottom: 10px; */
        font-size: medium;
        font-family: 'Inter', sans-serif;
        font-weight: 200;
        color: #fff;
        /* width: 70%; */
    
    }

    .container_two {
        width: 100%;
        height: 50%;
        background-color: #E7ECEF;
        /* display: flex;
        justify-content: center; */
    }
    
    .logo_principal {
        object-fit: fill;
        width: 50%;
    }
}

/* FOOTER  */
footer{
    width: 100%;
    height: 40%;
    background-color: #001E42;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

footer p {
    color: #ffffff;
    font-size: larger;
    font-family: "Inter", sans-serif;
    text-align: center;
}

footer img{
    width: 5%;
}

@media (max-width: 768px) {
    footer{
        width: 100%;
        height: 20%;
        background-color: #001E42;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    
    footer p {
        color: #ffffff;
        font-size: medium;
        font-family: "Inter", sans-serif;
        text-align: center;
    }
    
    footer img{
        width: 0%;
        height: 0%;
    }
}