@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body,
html {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Inter";

    flex-direction: column;
    background-color: #E7ECEF;
}

.title {
    color: #002148;
    text-align: center;
}

.title h2 {
    margin-top: 5%;
    font-weight: bold;
    font-size: 30px;
}

.main-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .main-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .up-card img {
        width: 30px;
        height: 30px;
        margin: 5px 2.5px;
    }

    .down-card{
        flex-direction: row;
    }
    .down-card figure{
        margin: 0;
        width: auto;
    }
}

.section-card {
    display: flex;
    flex-direction: column;
    padding: 1%;
}

.card {
    display: flex;
    flex-direction: column;
    margin: 2.5%;
    padding: 10px 10px;
    background-color: #001E42;
    color: white;
    border: 3px solid white;
    border-radius: 12px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    transform: translateY(0) scale(1.0);
    transition: transform 0.5s;
}
.card:hover,
.card:focus{
    transform: translateY(5px) scale(1.1);
    transition: transform 0.5s;
}

.up-card {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.up-card img {
    width: 15px;
    height: 15px;
    margin: 5px 2.5px;
}

.down-card {
    display: flex;
}

.down-card img {
    height: 50px;
    width: 50px;
}

.down-card p {
    margin: 0;
}

.down-card p b {
    font-weight: bold;
}

#fade{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

#modal{
    position: fixed;
    left: 50%;
    top: 50%;
    width: 65%;
    height: auto;
    background-color: #E7ECEF;
    border-radius: 8px;
    transform: translate(-50%, -50%);
    z-index: 10;
}

#modal,
#fade{
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
}

#modal.hide,
#fade.hide{
    opacity: 0;
    pointer-events: none;
}


.modal-content{
    display: flex;
    margin: 5%;
    margin-top: 0;
    font-size: 25px;
}

.modal-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
}
.modal-user p {
    margin: 10px 0;
}

.modal-header figure img{
    width: 10vw;
    margin-left: 4.5%;
}

.modal-header{
    margin-bottom: 0;
}


.modal-form{
    margin-left: 15%;
}

