@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    font-weight: 500;
}

:root {
    --verde: #3CF211;
    /* ou qualquer outro código de cor verde */
}


body {
    background-color: #e7ecef;
    height: auto;
}

/* HEADER */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background-color: #002148;
    color: #fff;
}

.esq {
    display: flex;
    width: 70%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0 0 1.75rem;
}

.opcoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    font-size: 2.2rem;
    width: 100%;
}

.opcoes a {
    text-decoration: none;
    color: #000;
}

.logo {
    display: flex;
    width: 10%;
    padding: 1.5rem 0;
}

.logo img {
    width: 90%;
    cursor: pointer;
}

.opcoesComponentes {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    white-space: nowrap;
    position: relative;
}

.menuCima {
    display: flex;
    width: 25%;
    text-decoration: underline;
    justify-content: center;
    font-size: 2.4rem;
}

.opcoesMenu {
    cursor: pointer;
    font-weight: 300;
}

.opcoesMenu.slct {
    font-weight: 600;
}

#menu {
    display: none;
    flex-direction: column;
    font-size: 1rem;
    color: #fff;
    background-color: #002048b6;
    position: absolute;
    margin-top: 3.92rem;
    left: 16rem;
    padding: 0.5rem;
    z-index: 10;
}

.opcoesComponentes h6:hover {
    transform: scale(1.05);
}

.opcoesComponentes h6 {
    transition: 0.4s;
}

#menu h4 {
    margin: 0;
    padding: .7rem;
    cursor: pointer;
}

.sair {
    display: flex;
    padding: 0 1.5rem;
    cursor: pointer;
    transition: 0.4s;
}

.sair h6:hover {
    color: #C43302;
}

/* MENU LATERAL */
.menuLateral {
    display: flex;
    flex-direction: column;
    background-color: #002148;
    color: #fff;
    width: 12%;
    min-height: 100%;
    position: relative;
}

.ola {
    font-size: 1.3rem;
    padding-top: 4.0rem;
    padding-left: 1rem;
}

.itens {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    font-size: 1.7rem;
    align-items: center;
    justify-content: flex-start;
    padding-top: 4.0rem;

}

.itens h4 {
    cursor: pointer;
}

.slc {
    color: #6096ba;
}

.slc.novaequipe,
.novaequipe {
    color: #7fc4f1;

}


/* BODY  */

.corpo {
    display: flex;
    width: 99vw;
    /* min-height: auto; */
}

.menuLateral {
    min-height: 86.8vh;
}

/* ====================================================================================================================== */


/* BODY  */

.section-grafico {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
    font-size: 1.6rem;
    gap: 1rem;
    color: #001E42;
}
.section-grafico img {
    width: 600px;
    height: 200px;
}
.grafico {
    display: flex;
    width: 90%;
    height: 35vh;
    justify-content: center;
    align-items: center;
    /* background-color: #a3b4bfa4; */
}

/*Parte com os gráficos e alertas*/
.main-section {
    display: flex;
    flex-direction: column;
    width: 98vw;
    height: 80%;
    justify-content: space-between;
}

.cima,
.baixo {
    width: 100%;
    height: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.card {
    width: 45%;
    height: 85%;
    background-color: #002148;
    border-radius: 20px;
}


/*Complemento Cards*/

.card {

    & .cimaCard {
        width: 100%;
        height: 15%;
        display: flex;
        align-items: center;

        & h1 {
            font-size: 20px;
            padding-left: 20px;
            color: white;
        }
    }

    & .baixoCard {
        width: 100%;
        height: 85%;
        display: flex;

        & .left {
            height: 100%;
            width: 50%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        & .left.chamadas {
            /* height: 100%; */
            width: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
        }

        & .left.chamadas img {
            width: 100%;
        }

        & .left img {
            width: 75%;
        }

        & .right {
            height: 100%;
            width: 50%;
            display: flex;

            & .leftIndicador {
                height: 100%;
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;

                & .indicador {
                    width: 95%;
                    /* height: 40%; */
                    background-color: rgba(96, 150, 186, 0.8);
                    border-radius: 10px;
                }
            }

            & .rightIndicador {
                height: 100%;
                width: 50%;
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
                align-items: center;

                & .indicador {
                    width: 86%;
                    height: 86%;
                    background-color: rgba(96, 150, 186, 0.8);
                    border-radius: 10px;
                }
            }

            & .indicador {
                display: flex;
                flex-direction: column;
                justify-content: space-evenly;
            }

            & h2 {
                /* margin-top: 5px; */
                font-size: 14px;
                text-align: center;
                color: white;
            }

            & h1 {
                font-size: 25px;
                text-align: center;
            }
        }
    }
}

.card.dir {
    margin: 0;
    height: 100%;
}

.cimaCard {
    width: 80%;
    height: 30%;
    font-size: 2rem;
    align-items: center;
    justify-content: center;

}

.baixoCard {
    width: 80%;
    height: 70%;
    font-size: 2rem;
    align-items: center;
    justify-content: center;
}

.tempoMedioChamadas {
    color: var(--verde);
}

.card.dir {
    width: 25rem;
}

.embaixo {
    display: flex;
    height: 40%;
    align-items: flex-start;
    padding-top: 2rem;
}

.legendas {
    display: flex;
    width: 65%;
    flex-direction: column;
    align-items: center;
    padding: .25rem 0;
    border-radius: 20px;
    gap: .25rem;
    background-color: #000;
}

.legendas2 {
    display: flex;
    width: 40%;

    align-items: center;
    justify-content: center;
    padding: .25rem 0;
    border-radius: 20px;
    color: white;
    gap: .25rem;
    background-color: #001E42;
}

.title {
    color: #001E42;
    display: flex;
    padding: 2rem 0 0 3rem;
    font-size: 2rem;
}

.up-card img {
    width: 30px;
    height: 30px;
    margin: 5px 2.5px;
}

.down-card img {
    width: 2rem;
}

.alertaMaquina p {
    font-size: 1rem;
    font-weight: 700;
}

.sectioncard {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 1%;
    justify-content: center;
}

.card {
    display: flex;
    flex-direction: column;
    margin: 2.5%;
    padding: 0.75rem;
    background-color: #001E42;
    color: white;
    border: 3px solid white;
    border-radius: 12px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    transform: translateY(0) scale(1.0);
    transition: transform 0.5s;
    height: 13rem;
    width: 22rem;
    align-items: flex-start;
    justify-content: space-around;
}

.card:hover,
.card:focus {
    transform: translateY(5px) scale(1.1);
    transition: transform 0.5s;
    cursor: pointer;
}

.up-card {
    display: flex;
    flex-direction: row;
    justify-content: end;
    width: 15%;
}

.up-card img {
    width: 1.375rem;
    margin: 5px 2.5px;
}

.down-card {
    display: flex;
    gap: 1.30rem;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    align-items: flex-end;
}

.down-card.cima {
    width: 100%;
    align-items: center;
    justify-content: space-between;
}

.esqCard {
    width: 25%;
}

.dirCard {
    width: 65%;
}

.alertaMaquina {
    display: flex;
    flex-direction: row;
    gap: 8px;
    align-items: center;
}

.iconComp {
    width: 4.8rem;
}

.iconFunc {
    width: 7.3rem;
}

.iconComp img,
.iconFunc img {
    width: 100%;
}

.down-card p {
    margin: 0;
}

.down-card p b {
    font-weight: bold;
}

.content-card {
    width: 85%;
}

.content-card p {
    gap: 1.2rem;
}

#fade {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

/* #modal {
    position: fixed;
    left: 50%;
    top: 50%;
    width: 65%;
    height: auto;
    background-color: #E7ECEF;
    border-radius: 8px;
    transform: translate(-50%, -50%);
    z-index: 10;
} */


#modal,
#fade {
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
}

#modal.hide,
#fade.hide {
    opacity: 0;
    pointer-events: none;
}


.modal-content {
    display: flex;
    margin: 0 0 5% 5%;
    font-size: 25px;
}

.modal-user {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
}

.modal-user p {
    margin: 10px 0;
}

.modal-header figure img {
    width: 10vw;
    margin-left: 4.5%;
}

.modal-header {
    margin-bottom: 0;
}

.modal-form {
    margin-left: 15%;
}


/* MODAL - DASHBOARD EQUIPE DO GERENTE DE OPERAÇÕES */

#modal {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: center;
    position: fixed;
    left: 50%;
    top: 50%;
    width: 80%;
    height: 70%;
    background-color: #E7ECEF;
    border-radius: 8px;
    transform: translate(-50%, -50%);
    z-index: 10;
    overflow: hidden;
    /* Impedir o overflow */
    align-items: flex-start;
}

.opcoesComponentes.menu {
    font-size: 2.4rem;
    padding-bottom: 2rem;
    /* white-space: wrap; */
}

#dashCpu,
#dashDisco,
#dashRede,
#dashMemoria,

#dashChamadas,
#dashAtendimento,
#dashResolucao,
#dashAbandono {
    display: none;
}

#dashCpu {
    display: grid;
}

#dashChamadas {
    display: flex;
}

#dashDisco {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.containerModal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-around;
    padding: 2rem;
    width: 100%;
    height: 100%;
}

.aside {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    justify-content: space-between;
    height: 85%;
    padding: 1rem;
    flex: 1;
    width: 60%;
    font-size: 4rem;
}

.bside {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    width: 40%;
    flex-wrap: wrap;
    height: 85%;
    justify-content: space-around;
    align-content: space-around;
    gap: 5%;
    padding: 1rem;
}

/* informações do aside */
.dadosComponente {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    height: 30%;
}

.infosComponente {
    display: flex;
    align-items: baseline;
    justify-content: space-around;
    width: 100%;
    gap: 6%;
}

.graficoComponente {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 58%;
}

.graficoComponente img {
    height: 100%;
    width: 100%;
}

.graficoChart {
    display: flex;
    justify-content: center;
    position: relative;
    height: 40vh;
    width: 100%;
    /* width: 26rem; 
    height: 14rem; */
}

.componente {
    font-size: 3rem;
}

.nomeComponente {
    font-size: 1.5rem;
    color: #002148;
}

.monitoramento {
    font-size: 1.4rem;
    padding: 10px;
}

/* informações do bside */

.dado {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    text-align: center;
    font-size: 1.1rem;
}

.dado h3,
h2 {
    padding: .4rem;
    font-weight: 600;
    /* white-space: nowrap; impede a quebra de linha */
}

.dado span {
    font-weight: 400;
}

.dadoInfo {
    font-size: 1.2rem;
    width: 100%;
}

.btnSair {
    display: flex;
    justify-self: flex-end;
    padding: 3% 3% 0 0;

}

.btnSair img {
    width: 3.5rem;
    transition: 0.4s;
    cursor: pointer;
}

.btnSair img:hover {
    transform: scale(1.15);
}