@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter';
    font-weight: 500;
}

/* HEADER */

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background-color: #002148;
    color: #fff;
}

.esq {
    display: flex;
    width: 70%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0 0 1.75rem;
}

.opcoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    font-size: 2.2rem;
    width: 100%;
}

.opcoes a {
    text-decoration: none;
    color: #000;
}

.logo {
    display: flex;
    width: 10%;
    padding: 1.5rem 0;
}

.logo img {
    width: 90%;
    cursor: pointer;
}

.opcoesComponentes {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    white-space: nowrap;
    position: relative;
}

.opcoesComponentes img {
    width: 15px;
}

.opcoesMenu {
    cursor: pointer;
    font-weight: 300;
}

.opcoesMenu.slct {
    font-weight: 600;
}

#menu {
    display: none;
    flex-direction: column;
    font-size: 1rem;
    color: #fff;
    background-color: #002048b6;
    position: absolute;
    margin-top: 3.92rem;
    left: 16rem;
    padding: 0.5rem;
    z-index: 10;
}

.opcoesComponentes h6:hover {
    transform: scale(1.05);
}

.opcoesComponentes h6 {
    transition: 0.4s;
}

#menu h4 {
    margin: 0;
    padding: .7rem;
    cursor: pointer;
}

.sair {
    display: flex;
    padding: 0 1.5rem;
    cursor: pointer;
    transition: 0.4s;
}

.sair h6:hover {
    color: #C43302;
}

/* MENU LATERAL */
.menuLateral {
    display: flex;
    flex-direction: column;
    background-color: #002148;
    color: #fff;
    width: 12%;
    min-height: 100vh;
    position: relative;
}

.itens{
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.3rem;
    align-items: center;
    justify-content: flex-start;
    padding-top: 4.5rem;

}
.itens h4 {
    cursor: pointer;
}
.slc {
    color: #6096ba;
}
/* BODY */

body {
    background-color: #e7ecef;
}

.corpo {
    display: flex;
    width: 99vw;
    min-height: auto;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100vw;
    height: 90vh;
    gap: 3rem;
    justify-content: center;
    background-color: #e7ecef;
    padding: 2.5rem 2rem 2rem 0 ;
}

/* seção de gráficos globais */

.conteudo {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    width: 95%;
}

.conteudo h1 {
    height: fit-content;
    font-size: 2.4em;
}

.elementos {
    display: flex;
    gap: 3rem;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
    height: 100%;
}

.elemento {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 40%;
    align-items: center;
}

.elemento h4 {
    color: #002148;
    font-size: 1.5rem;
}

.grafico {
    display: flex;
    height: 100%;
    justify-content: center;
}

.grafico img {
    width: 100%;
}