@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
/* 
body {
    margin: 0;
    padding: 0;
} */

/* CARROSSEL*/

.slider {
    width: 100%;
    height: 100vh;
    overflow: hidden;
}

.slides {
    width: 100%;
    display: flex;
}

.slides input {
    display: none;
}

.slide {
    width: 100%;
    height: 50%;
    position: relative;
    transition: 1s;
}

.slide:after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: 1s;
    background: rgb(18, 18, 18);
    content: "";

    background: #00000094;
}

.slide img {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
}


.manual-navigation {
    position: absolute;
    display: flex;
    justify-content: center;

    top: 98%;
    width: 100%;
}

@media screen and (max-width: 768px) {
    .manual-navigation {
        position: absolute;
        display: flex;
        justify-content: center;

        top: 95%;
        width: 100%;
    }
}

.manual-btn {
    border: solid 2px white;
    cursor: pointer;
    border-radius: 20px;
    padding: 0.5%;
    transition: 1s all;
}

.manual-btn:not(:last-child) {
    margin-right: 2%;
}


.manual-btn:hover {
    background-color: white;
}

#radio1:checked~.first {
    margin: 0;
}

#radio2:checked~.first {
    margin-left: -100%;
}

#radio3:checked~.first {
    margin-left: -200%;
}

#radio4:checked~.first {
    margin-left: -300%;

}

.text-overlay {
    position: absolute;
    top: 40%;
    left: 20%;
    /* transform: translate(-50%, -50%); */
    color: white;
    font-size: xx-large;
    z-index: 10;
    font-family: "Inter", sans-serif;
    text-align: center;
    pointer-events: none;
    width: 60%;

}

@media screen and (max-width: 768px) {
    .text-overlay {
        position: absolute;
        top: 45%;
        left: 20%;
        /* transform: translate(-50%, -50%); */
        color: white;
        font-size: medium;
        z-index: 10;
        font-family: "Inter", sans-serif;
        text-align: center;
        pointer-events: none;

    }
}

/* FIM CARROSSEL  */

/* APLICACAO */

.aplicacao {
    display: flex;
    justify-content: space-around;

    width: 100%;
    height: 100vh;
    flex-wrap: nowrap;
}

@media screen and (max-width: 768px) {
    .aplicacao {
        flex-direction: column-reverse;
        /* Muda a direção do flexbox para coluna */
    }
}


.aplicacao .img {
    width: 100%;
    height: 100%;

    background-image: url(../src/img/comptador-aplicacao.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.aplicacao .img:after {
    position: absolute;

    width: 50%;
    height: 100vh;

    content: "";
    background: #00000094;
}

@media screen and (max-width: 768px) {
    .aplicacao .img:after {
        position: absolute;

        width: 0%;
        height: 0vh;

        content: "";
        background: #00000094;
    }
}

.aplicacao .textos {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;

    flex-direction: column;
    align-items: center;
    /* flex-wrap: wrap; */
    background-color: #E7ECEF;
}

.textos h1 {
    font-family: "Inter", sans-serif;
    font-weight: 200;
    font-size: xx-large;
    color: #001E42;
}

.textos .texto1 {
    width: 60%;
    height: 20%;
    margin-bottom: 40px;

    display: flex;
    justify-content: center;

    background-color: #001E42;

    border-radius: 17px;

    transition: transform 1s;
    transform: translateY(0) scale(1.0);
}

.textos .texto1:hover,
.textos .texto1:focus {
    width: 60%;
    height: 20%;
    margin-bottom: 40px;

    display: flex;
    justify-content: center;

    background-color: #001E42;

    border-radius: 17px;

    transform: translateY(10px) scale(1.1);
}

.textos .texto2 {
    width: 60%;
    height: 20%;
    margin-bottom: 40px;

    display: flex;
    justify-content: center;

    background-color: #001E42;

    border-radius: 17px;
    transition: transform 1s;
    transform: translateY(0) scale(1.0);
}

.textos .texto2:hover,
.textos .texto2:focus {
    width: 60%;
    height: 20%;
    margin-bottom: 40px;

    display: flex;
    justify-content: center;

    background-color: #001E42;

    border-radius: 17px;

    transform: translateY(10px) scale(1.1);
}

.textos .texto3 {
    width: 60%;
    height: 20%;
    margin-bottom: 40px;


    display: flex;
    justify-content: center;

    background-color: #001E42;

    border-radius: 17px;
    transition: transform 1s;
    transform: translateY(0) scale(1.0);
}

.textos .texto3:hover,
.textos .texto3:focus {
    width: 60%;
    height: 20%;
    margin-bottom: 40px;

    display: flex;
    justify-content: center;

    background-color: #001E42;

    border-radius: 17px;

    transform: translateY(10px) scale(1.1);
}

.textos p {
    color: #E7ECEF;
    font-weight: 500;
    font-size: medium;
    text-align: center;
    align-items: center;

    width: 80%;
    align-self: center;
    font-family: "Inter", sans-serif;

}

/* CSS MENU  */


@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body,
html {
    margin: 0;
    height: 100%;
    width: 100%;
    font-family: 'Inter';
    /* Fonte padrão do sistema */
}

header {
    background-color: #e7ecef;
    padding: 0;
}

nav {
    display: flex;
    /* justify-content: space-evenly; */
    margin: 0;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    padding: 0;
    width: 100%;
    height: 80px;
    /* border: #333 2px solid; */
}

.navbar ul {
    width: 35%;
}

.logo {
    display: flex;
    width: 10%;
    /* object-fit: fill; */
    /* Faz com que a logo ocupe o espaço necessário */
}

.logo img {
    width: 45%;
    padding-left: 20px;
    padding-top: 10px;
    /* height: 100%; */
}

.logo a {
    color: black;
    text-decoration: none;
    font-size: 24px;
}


.nav-links {
    list-style: none;
    /* margin-left: 10%; */
    /* padding: 0; */
    display: flex;
    /* flex: 0; Ocupa o espaço restante ao lado da logo */
    justify-content: space-around;
    /* Centraliza os itens na barra de navegação */
    width: 80%;
    margin-right: 100px;
    font-family: "Inter", sans-serif;
    /* list-style: none; */
    /* text-transform: uppercase; */
    /* position: absolute; */
}

/* .nav-links li {
    margin:0 5%;
    width: 50%;
} */

.nav-links li a {
    color: #001E42;
    text-decoration: none;
    font-size: 18.cadastroEntrar li apx;
    justify-content: space-around;
    font-weight: 500;
    /* display: inline-block; */
    background: #e7ecef;
    /* padding: 10px;
    margin: 2px; */
    transition: background-color 1s;

}

.nav-links li:hover {
    background-color: #6096ba;
}

.nav-links a:hover {
    /* text-decoration: underline; */
    color: #6096ba;

}

.toggle-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    border: none;
    background: transparent;
}

.toggle-menu .bar {
    width: 35px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
    transition: 0.3s;

}

.cadastroEntrar {
    display: flex;
    align-items: normal;
    /* width: 35%; */
    list-style: none;
    justify-content: flex-end;
    gap: 10%;
    /* Reduzido de 1% para 0.5em */
    font-style: normal;
    font-family: 'Inter';
    padding: 0;
    /* Adicionado para remover espaçamento extra */
    margin: 0;
    /* Adicionado para remover margens extra */
}

.cadastroEntrar li {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: black;
    padding: 0;
    /* Adicionado para garantir que não há padding extra */
    margin: 0;
    /* Adicionado para garantir que não há margin extra */
}

.cadastroEntrar li a {
    color: #0d3464;
    font-weight: 700;

    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: large;
}

.cadastroEntrarResposivo {
    display: none;

}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        align-items: center;
        /* Alinha os itens no centro na versão móvel */
    }

    .nav-links.active {
        display: flex;
        background-color: #e7ecef;
        margin-left: 160px;
        border-radius: 5px;
        padding-top: 5px;
        border: #333 2px solid;
        font-size: medium;
        z-index: 100;
    }

    .logo img {
        width: 0%;
    }

    .toggle-menu {
        display: flex;
        /* margin-left: 135px; */
    }

    .cadastroEntrar {
        display: none
    }

    .cadastroEntrarResposivo {
        display: flex;
        flex-direction: column;
        align-items: end;
        justify-content: start;

    }

    .cadastroEntrarResposivo li {
        font-style: normal;
        list-style-type: none;

    }
}

/* BENEFICIOS  */

.beneficios {
    background-color: #001E42;
    /* overflow-x: hidden; */
    height: 100%;
    width: 100%;
    font-family: "Inter", sans-serif;
    justify-content: center;
    align-items: center;
}

.article-h1 {
    width: 200px;
    height: 100px;
    border: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;
    padding-top: 40px;
}

.h1 {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: xx-large;
    margin: auto;
}

.main-article {
    width: 100%;
    /* max-width: 1800px;  */
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: row;
    padding-top: 3.125rem;
    gap: 2.5rem;
}

.main-article p {
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 1.3rem;
    text-align: left;
    width: 100%;
}

.main-article h2 {
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 1.3rem;
    text-align: center;
    width: 80%;
}

.card_one {
    width: 23rem;
    height: 27rem;
    padding: 1.5rem;
    gap: 2rem;
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    font-size: 2rem;
}

/* SOBRE NOS  */

.container_master {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, #001E42 20%, #ffffff 80%);
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    /* overflow: hidden; */
}

.container_one {
    flex: 1;
    /* padding: 20px; */
    color: white;
    text-align: center;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.container_two {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    /* background-color: #ffffff; */
}

.container_one h3 {
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: xx-large;
    width: 70%;
}

.container_one p {
    /* margin-bottom: 10px; */
    font-size: 27px;
    font-family: 'Inter', sans-serif;
    font-weight: 200;
    color: #fff;
    width: 70%;

}

.logo_principal {
    object-fit: contain;
}

/* Responsivo para telas menores */
/* Responsivo para telas menores */
@media (max-width: 768px) {
    .container_master {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        width: 100%;
        height: 100%;
        /* background: linear-gradient(to right, #001E42 0%, #ffffff 0%); */
        background-color: transparent;

    }

    .container_one {
        width: 100%;
        height: 50%;
        background-color: #001E42;
        display: flex;
        justify-content: center;
    }

    .container_one h3 {
        color: #fff;
        font-family: "Inter", sans-serif;
        font-weight: 600;
        font-size: xx-large;
        /* width: 70%; */

    }

    .container_one p {
        /* margin-bottom: 10px; */
        font-size: medium;
        font-family: 'Inter', sans-serif;
        font-weight: 200;
        color: #fff;
        /* width: 70%; */

    }

    .container_two {
        width: 100%;
        height: 50%;
        background-color: #E7ECEF;
        /* display: flex;
        justify-content: center; */
    }

    .logo_principal {
        object-fit: fill;
        width: 50%;
    }
}

/* FOOTER */
:root {
    --color-neutral-0: #0e0c0c;
    --color-neutral-10: #171717;
    --color-neutral-30: #a8a29e;
    --color-neutral-40: #f5f5f5;
}

footer {
    width: 100%;
    color: var(--color-neutral-40);
    font-family: "Inter", sans-serif;
}

#footer_content {
    background-color: #001E42;
    ;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 3rem 3.5rem;
}

#footer_contats h1 {
    margin-bottom: 0.75rem;
}

#footer_social_media {
    display: flex;
    gap: 2rem;
    margin-top: 1.5rem;
}

#footer_social_media .footer-link {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.5rem;
    width: 2.5m;
    color: var(--color-neutral-40);
    border-radius: 50%;
}

.footer-list {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
    list-style: none;
}

.footer-list .footer-link {
    color: white;
    transition: all 0.4s;
    text-decoration: none;
}

.footer-list .footer-link:hover {
    color: #1a569e;
}

#footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

#footer_subscribe h3 {
    font-size: 30px;
    margin-top: 11%;
}

#footer_subscribe p {
    color: white;
    margin: 0%;
}

#input_group {
    display: flex;
    align-items: center;
    background-color: 4px;
    border-radius: 4px;
}

#input_group input {
    all: unset;
    padding: 0.75rem;
    width: 100%;
    background-color: #052246;
    border-radius: 4px;
}

#input_group button {
    background-color: #ffffff;
    border: none;
    color: var(--color-neutral-0);
    padding: 0px 1.25rem;
    font-size: 1.125rem;
    height: 100%;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
    transition: all 0.4s;
}

#input_group button:hover {
    opacity: 0.8;
}

.logo_footer {
    width: 40%;
    height: 40%;
}

#footer_contats a i {
    color: white;
    transition: color 0.3s ease;
}


#footer_contats a:hover i {
    color: #cccccc;
}

/* SEÇÃO CONTATE-NOS */

.contact_us {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 3rem;
    height: 70vh;
    /* background-color: #E7ECEF; */
    /* background: radial-gradient(ellipse 100% 50% at left, #001E42 20%, #ffffff 80%); */



    /* overflow-x: hidden; */
    /* height: 100%; */
    width: 100%;
    font-family: "Inter", sans-serif;
    justify-content: center;
    align-items: center;
    /* 
    background-image: url(./src/img/crs-hardware.jpg);
    background-repeat: no-repeat;
    background-size: cover; */
}

/* estilização do input de email bonitinho */
@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;500;600&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Outfit", sans-serif;
}

/* body {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #1f1f1f;
} */

.form {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: 2rem;
    position: relative;
    width: 33rem;
    height: auto;
}

.input-container {
    position: relative;
    width: 100%;
    height: auto;
    border-radius: 3rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
    /* background: #1f1f1f; */
    /* box-shadow: 0 0 30px rgba(0, 0, 0, 0.461); */
}

.input-container::before {
    position: absolute;
    content: "";
    height: 30%;
    width: 0.12rem;
    left: 16%;
    border-radius: 0.5rem;
    background: #707070;
}

.input-container .input-field {
    position: relative;
    max-height: 4.2rem;
    padding: .8rem 2.5rem;
    padding-left: 5rem !important;
    border: 0.15rem solid rgb(68, 68, 68);
    color: #4f4c4c;
    outline: none;
    border-radius: 3rem;
    font-size: 1.3rem;
    font-weight: 400;
    width: 100%;
    background: transparent;
    transition: border-color 0.3s ease;
    cursor: pointer;
}

.input-container label {
    position: absolute;
    top: 60%;
    left: 20%;
    transform: translateY(-90%);
    font-size: 0.9rem;
    transition: 0.3s ease-in-out;
    font-weight: 500;
    color: #999999;
    padding: 0 0.3rem;
    user-select: none;
}

#email-icon {
    position: absolute;
    left: 8%;
    top: 50%;
    transform: translateY(-50%);
    color: #999999;
    font-size: 1.2rem;
}

.input-field:focus+label {
    top: 0%;
    left: 7%;
    /* background-color: #1f1f1f; */
    color: #1f1f1f;
}

.input-field:focus {
    border-color: #96c477;
}

.input-field.invalid {
    border-color: #ff654a;
}

#email-input:not(:placeholder-shown)#email-input:not(:focus)+label {
    top: 0%;
    left: 7%;
    /* background-color: #1f1f1f; */
    color: #1f1f1f;
}

#email-input:not(:placeholder-shown)#email-input:not(:focus) {
    border-color: #96c477;
}

.toast-msg {
    position: absolute;
    left: 8%;
    top: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 0;
    opacity: 0;
    transition: 0.3s ease;
}

.toast-msg.active {
    margin-top: 0.5rem;
    opacity: 1;
}

.toast-msg p {
    font-size: 0.8rem;
    color: #ff654a;
    margin-left: 0.3rem;
}

.toast-msg.success p {
    color: #97e365;
}

.toast-msg i {
    font-size: 1rem;
    color: #ff654a;
}

.toast-msg.success i {
    color: #97e365;
}

.submit-btn {
    position: relative;
    padding: .8rem 1.5rem;
    font-size: 1.2rem;
    text-transform: capitalize;
    border-radius: 25px;
    cursor: pointer;
    float: right;
    border: none;
    outline: none;
    background-color: #00152F;
    color: #CAD5E0;
    border: 3px solid #CAD5E0;
    transition: background-color 0.3s ease;
}

.submit-btn:hover {
    background-color: #CAD5E0;
    border: 3px solid #00152F;
    color: #00152F;
}

.contact_us h3,
h4 {
    font-size: 2.5rem;
    color: #001E42;

}

.contact_us h4 {
    font-size: 1.5rem;
}

@media (max-width: 570px) {
    .form {
        flex-direction: column;
        align-items: center;
        width: auto;
    }

    .contact_us {
        text-align: center;
    }

    .main-article {
        flex-direction: column;
        align-items: center;
    }

    .beneficios {
        height: auto;
        padding-bottom: 2rem;
    }

    .input-field {
        padding: .5rem 1rem;
    }

    .input-container {
        width: auto;
    }

    .card_one {
        height: auto;
        width: 25rem;
        padding: 1.3rem 0;
        gap: .4rem;
    }
    .main-article p {
        font-size: .9rem;
    }
    
    .main-article h2 {
        font-size: 1.2rem;
    }
}

@media (max-width:400px) {
    .card_one {
        width: auto;
    }

    .main-article {
        padding: 3.125rem 1rem;
        align-items: center;
    }
}

@media (max-width: 1010px) {
    .main-article p {
        font-size: 1.2rem;
    }
    .main-article {
        gap: 1rem;
        height: 25rem;
    }
}

/* fim estilização email */