@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

body,
html {
    display: flex;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: "Inter";
    flex-direction: column;
    background-color: #E7ECEF;
}


/* HEADER */
header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: auto;
    background-color: #002148;
    color: #fff;
}
.esq {
    display: flex;
    width: 70%;
    height: 100%;
    align-items: center;
    justify-content: flex-start;
    padding: 0 0 0 1.75rem;
}

.opcoes {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 6rem;
    font-size: 2.2rem;
    width: 100%;
}

.opcoes a{
    text-decoration: none;
    color: #000;
}

.logo {
    display: flex;
    width: 10%;
    padding: 1.5rem 0 ;
}

.logo img{
    width: 90%;
    cursor: pointer;
}

.opcoesComponentes {
    display: flex;
    width: 70%;
    justify-content: space-evenly;
    white-space: nowrap;
    position: relative;
}

.opcoesComponentes img {
    width: 15px;
}

.opcoesMenu {
    cursor: pointer;
    font-weight: 300;
}
.opcoesMenu.slct {
    font-weight: 600;
}

#menu {
    display: none;
    flex-direction: column;
    font-size: 1rem;
    color: #fff;
    background-color: #002048b6;
    position: absolute;
    margin-top: 7rem;
    left: 16rem;
    padding: 0.5rem;
    z-index: 10;
}
.opcoesComponentes h6:hover {
    transform: scale(1.05);
}

.opcoesComponentes h6 {
    transition: 0.4s;
}

#menu h4 {
    margin: 0;
    padding: .7rem;
    cursor: pointer;
}

.sair {
    display: flex;
    padding: 0 1.5rem;
    cursor: pointer;
    transition: 0.4s;
}

.sair h6:hover {
    color: #C43302;
}


/* PAGINA */
.title {
    color: #002148;
    text-align: center;
}

.title h2 {
    margin-top: 5%;
    font-weight: bold;
    font-size: 30px;
}

.main-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 768px) {
    .main-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .up-card img {
        width: 30px;
        height: 30px;
        margin: 5px 2.5px;
    }

    .down-card{
        flex-direction: row;
    }
    .down-card figure{
        margin: 0;
        width: auto;
    }
}

.section-card {
    display: flex;
    flex-direction: column;
    padding: 1%;
}

.card {
    display: flex;
    flex-direction: column;
    margin: 2.5%;
    padding: 10px 10px;
    background-color: #001E42;
    color: white;
    border: 3px solid white;
    border-radius: 12px;
    box-shadow: 4px 5px 4px rgba(0, 0, 0, 0.25);
    font-size: 20px;
    transform: translateY(0) scale(1.0);
    transition: transform 0.5s;
}
.card:hover,
.card:focus{
    transform: translateY(5px) scale(1.1);
    transition: transform 0.5s;
}

.up-card {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.up-card img {
    width: 15px;
    height: 15px;
    margin: 5px 2.5px;
}

.down-card {
    display: flex;
}

.down-card img {
    height: 50px;
    width: 50px;
}

.down-card p {
    margin: 0;
}

.down-card p b {
    font-weight: bold;
}

#fade{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 5;
}

#modal{
    position: fixed;
    left: 50%;
    top: 50%;
    width: 65%;
    height: auto;
    background-color: #E7ECEF;
    border-radius: 8px;
    transform: translate(-50%, -50%);
    z-index: 10;
}

#modal,
#fade{
    transition: 0.5s;
    opacity: 1;
    pointer-events: all;
}

#modal.hide,
#fade.hide{
    opacity: 0;
    pointer-events: none;
}


.modal-content{
    display: flex;
    margin: 5%;
    margin-top: 0;
    font-size: 25px;
}

.modal-user{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 5%;
}
.modal-user p {
    margin: 10px 0;
}

.modal-header figure img{
    width: 10vw;
    margin-left: 4.5%;
}

.modal-header{
    margin-bottom: 0;
}

.modal-form{
    margin-left: 15%;
}

.mae{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter";
  }

  .filho1{
    background-color: #002148;
    color: white;
    justify-content: flex-start;
    height:150px;
    width: 300px;
    margin: 10px;
    border-radius: 15PX;
    align-items: center;
  }

  .filho2{
    background-color : #002148;
    color: white;
    justify-content: center;
    height: 150px;
    width: 300px;
    margin: 10px;
    border-radius: 15PX;
    border-radius: 15PX;
    align-items: center;
  }

  .filho3{
    background-color: #002148;
    color: white;
    justify-content: flex-end;
    height:150px;
    width: 300px;
    margin: 10px;
    border-radius: 15PX;
    border-radius: 15PX;
  }

  .mae2{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter";
  }

  .filho4{
    background-color: #002148;
    color: white;
    justify-content: flex-end;
    height:150px;
    width: 300px;
    margin: 10px;
    border-radius: 15PX;
    border-radius: 15PX;
  }

  .filho5{
    background-color: #002148;
    color: white;
    justify-content: flex-end;
    height:150px;
    width: 300px;
    margin: 10px;
    border-radius: 15PX;
    border-radius: 15PX;
  }

  .filho6{
    background-color: #002148;
    color: white;
    justify-content: flex-end;
    height:150px;
    width: 300px;
    margin: 10px;
    border-radius: 15PX;
    border-radius: 15PX;
  }

  .mae3{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inter";
  }

  .filho7{
    background-color: #002148;
    color: white;
    justify-content: flex-end;
    height:150px;
    width: 300px;
    margin: 10px;
    border-radius: 15PX;
    border-radius: 15PX;
  }

  .filho8{
    background-color: #002148;
    color: white;
    justify-content: flex-end;
    height:150px;
    width: 300px;
    margin: 10px;
    border-radius: 15PX;
    border-radius: 15PX;
  }

  .filho9{
    background-color: #002148;
    color: white;
    justify-content: flex-end;
    height:150px;
    width: 300px;
    margin: 10px;
    border-radius: 15PX;
    border-radius: 15PX;
  }

  .editar{
    height: 10%;
    width: 10%;
  }

  input{
    background-color: white;
    height: 10%;
    width: 15%;
    border: none;
    outline: none;
    border-radius: 3%;
    font-family: "Inter";
  }

  button{
    background-color:#002147;
    color: white;
    border: none;
    border-radius: 10%;
    font-family: "Inter";
  }

  button :hover{
    box-shadow: 0px 0px 10px #8a8785;
    transform: translate(0px, -5px);
    transition:transform 0.5s;
  }

dialog::backdrop{

   background-color: rgb(0 0 0/ .5);
    }

    .dialog {
        border: none;
        border-radius: .5rem;
        box-shadow: 0 0 1em rgb(0 0 0 / .3);
        width: 50%;
        height: 400px;
        padding: 0px;  
    }

    .editMaquina{
        width: 100%;
        height: 100%;
        background-color: #002147;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
        
    }

    .editMaquina h1{
        font-size: 40px;
        color: white;
    }
    
    .editMaquina p{
        font-size: 30px;
        color: white;
    }
    .editMaquina button{
        background-color: white; 
        color: #002147; 
        border: none;
        padding: 10px 20px; 
        border-radius: 15px; 
        font-size: 16px; 
        cursor: pointer; 
        transition: background-color 0.3s ease; 
    }
    
    #FecharModal:hover {
        background-color: #0e5ab1;
    }

    #dialog2::backdrop{

        background-color: rgb(0 0 0/ .5);
         }
     
         #dialog2 {
             border: none;
             border-radius: .5rem;
             box-shadow: 0 0 1em rgb(0 0 0 / .3);
             width: 50%;
             height: 400px;
             padding: 0px;  
         }
     
         .editMaquina2{
             width: 100%;
             height: 100%;
             background-color:#002147;
             display: flex;
             align-items: center;
             justify-content: center;
             flex-direction: column;
             gap: 10px;
             
         }
     
         .editMaquina2 h1{
             font-size: 40px;
             color: white;
         }
         
         .editMaquina2 p{
             font-size: 30px;
             color: white;
         }
         
         .editMaquina2 span{
             font-size: 30px;
             color: white;
         }
         
         .editMaquina2 input{
             width: 40%;
             padding: 10px; 
             border-radius: 15px; 
             border: none;
             background-color: white; 
             color: white;
             outline: none;
             font-size: 16px;
         }
         
         
         .editMaquina2 button{
             background-color: white; 
             color: #002147; 
             border: none;
             padding: 10px 20px; 
             border-radius: 15px; 
             font-size: 16px; 
             cursor: pointer;
             transition: background-color 0.3s ease; 
         }
         
         #FecharModal2:hover {
             background-color:#0e5ab1;
         }

         #dialog3::backdrop{

            background-color: rgb(0 0 0/ .5);
             }
         
             #dialog3 {
                 border: none;
                 border-radius: .5rem;
                 box-shadow: 0 0 1em rgb(0 0 0 / .3);
                 width: 50%;
                 height: 400px;
                 padding: 0px;  
             }
         
             .editMaquina3{
                 width: 100%;
                 height: 100%;
                 background-color: #002147;
                 display: flex;
                 align-items: center;
                 justify-content: center;
                 flex-direction: column;
                 gap: 10px;
                 
             }
         
             .editMaquina3 h1{
                 font-size: 40px;
                 color: white;
             }
             
             .editMaquina3 p{
                 font-size: 30px;
                 color: white;
             }
             
             .editMaquina3 span{
                 font-size: 30px;
                 color: white;
             }
             
             .editMaquina3 input{
                 width: 40%; 
                 padding: 10px; 
                 border-radius: 15px; 
                 border: none; 
                 background-color: #002147; 
                 color: white; 
                 outline: none;
                 font-size: 16px; 
             }
             
             
             .editMaquina3 button{
                 background-color: white; 
                 color: #002147; 
                 border: none; 
                 padding: 10px 20px; 
                 border-radius: 15px; 
                 font-size: 16px; 
                 cursor: pointer; 
                 transition: background-color 0.3s ease; 
             }
             
             #FecharModal3:hover {
                 background-color:#0e5ab1 ;
             }

             

