@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

*{
    margin: 0;
    padding: 0; 
    box-sizing: border-box; 
}

body, html{
    background-color: #001E42;
    overflow-x: hidden;
    margin: 0;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    font-family: 'Inter'; /* Fonte padrão do sistema */
    
}



header {
    background-color: #e7ecef;
    padding: 0;
}

nav {
    display: flex;
    /* justify-content: space-evenly; */
    margin: 0;
    flex-direction: row;
    gap: 30px;
    align-items: center;
    padding: 0;
    width: 100% ;
    height: 100px;
    border: #333 2px solid;
}

.navbar ul {
    width: 35%;
}

.logo {
    display: flex; 
    width: auto; /* Faz com que a logo ocupe o espaço necessário */
}

.logo a {
    color: black;
    text-decoration: none;
    font-size: 24px;
}


.nav-links {
    list-style: none;
    /* margin-left: 10%; */
    /* padding: 0; */
    display: flex;
    /* flex: 0; Ocupa o espaço restante ao lado da logo */
    justify-content: space-around; /* Centraliza os itens na barra de navegação */
    width: 80%;
    margin-right: 100px;
    
    /* list-style: none; */
  /* text-transform: uppercase; */
  /* position: absolute; */
}

/* .nav-links li {
    margin:0 5%;
    width: 50%;
} */

.nav-links li a {
    color: black;
    text-decoration: none;
    font-size: 18px;
    justify-content: space-around;

    /* display: inline-block; */
    background: #e7ecef;
    /* padding: 10px;
    margin: 2px; */
    transition: background-color 1s;

}

.nav-links li:hover {
    background-color: #6096ba;
}
.nav-links a:hover {
    /* text-decoration: underline; */
    color: #6096ba;
    
}

.toggle-menu {
    display: none;
    flex-direction: column;
    cursor: pointer;
    border: none;
    background: transparent;
}

.toggle-menu .bar {
    width: 35px;
    height: 3px;
    background-color: black;
    margin: 4px 0;
    transition: 0.3s;

}

.cadastroEntrar {
    display: flex;
    align-items:normal;
    /* width: 35%; */
    list-style: none;
    justify-content:flex-end;
    gap: 10%; /* Reduzido de 1% para 0.5em */
    font-style: normal;
    font-family: 'Inter';
    padding: 0; /* Adicionado para remover espaçamento extra */
    margin: 0;  /* Adicionado para remover margens extra */
}

.cadastroEntrar li {
    display: flex;
    align-items: center;
    font-size: 15px;
    color: black;
    padding: 0; /* Adicionado para garantir que não há padding extra */
    margin: 0;  /* Adicionado para garantir que não há margin extra */
}

.cadastroEntrar li a {
    color: black;
    text-decoration: none;
    font-family: 'Inter', sans-serif;
    font-size: larger;
}

.cadastroEntrarResposivo{
    display: none;

}

@media (max-width: 768px) {
    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        position: absolute;
        top: 60px;
        left: 0;
        background-color: #333;
        align-items: center; /* Alinha os itens no centro na versão móvel */
    }

    .nav-links.active {
        display: flex;
        background-color: #e7ecef;
        margin-left: 160px;

    }
    /* .nav-links.active a {
        
    } */

    .toggle-menu {
        display: flex;
        margin-left: 135px;
    }
    .cadastroEntrar {
        display:none
    }

    .cadastroEntrarResposivo{
        display: flex;
       flex-direction: column;
       align-items: end ;
       justify-content: start;
    
    }

    .cadastroEntrarResposivo li{
       font-style: normal;
       list-style-type: none;
    
    }

    /* .cadastroEntrar{
        display: flex;
        align-items: center;
        list-style: none;
        justify-content:space-around;
        gap: 2%;
    }
    .cadastroEntrar li{
        display: flex;
        align-items: center;
        justify-content: end;
        font-size: 10px;
        color: black;
        font-style: normal;
        font-family: 'Inter';
        text-decoration: none;
        
    } */
}

    
.article-h1{
    width: 200px;
    height: 100px;
    border: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: auto;

}
.h1{
    color: #fff;
    font-family: "Inter", sans-serif;
    font-weight: 180;
    font-size: 35px;
}

.main-article {
    width: 100%;
    max-width: 1800px; 
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: flex-start; 
    flex-direction: row;
    padding-top: 50px; 
    gap: 40px;
}

.card_one {
    width: 400px;
    height: 355px;
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    align-items: center; 
    justify-content: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
}

.card_two {
    width: 400px;
    height: 355px;
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    align-items: center; 
    justify-content: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
}

.card_tree{
    width: 400px;
    height: 355px;
    background-color: #fff;
    border-radius: 12px;
    display: flex;
    align-items: center; 
    justify-content: center;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); 
}

/* resposividade */
@media (max-width: 600px) {
   
    
    .main-article {
        flex-direction: column; 
        align-items: center;
    }

    .card_one {
        width: 90%; 
        height: auto; 
        margin: 10px 0;  
    }

    .card_two {
        width: 90%; 
        height: auto; 
        margin: 10px 0;  
    }
    .card_tree {
        width: 90%; 
        height: auto; 
        margin: 10px 0;  
    } 
    

    

}
/* responsividade de celular */
@media (min-width: 201px) and (max-width: 1024px) {
    
    .main-article {
        justify-content: center; 
    }

    .card_one {
        width: 45%; 
        height: auto;
        margin: 10px;  
    }
    
    .card_two {
        width: 45%; 
        height: auto;
        margin: 10px;     
    }

    .card_tree{
        width: 45%; 
        height: auto;
        margin: 10px;  
    }

}